/**	Red color style */
.event-section .event-item-inner span,
.story-section .story-item i,
.story-section .story-text h3,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
.header .nav ul li a.active,
.header .nav ul li a:hover {
	color: #cc3b3b;
}

.event-section .event-item-inner:before,
.couple-section .couple img {
	border-color: #cc3b3b;
}

.people-section .filter-btn.active,
.event-section {
	background-color: #cc3b3b;
}